@import "../../assets/fonts/stylesheet.scss";

$OpenSans: "OpenSans";
$OpenSans-Bold: "OpenSans-Bold";
$Poppins-Bold: "Poppins-Bold";
$Poppins-SemiBold: "Poppins-SemiBold";
$SansitaOne: "SansitaOne";
